cache
evaluation/voxposer_evaluation_0422
evaluation/voxposer_evaluation_0422
voxposer_evaluation
evaluation/voxposer_evaluation_0423
evaluation/2025-04-23_15-41-00/20250423_154101/metadata
evaluation/2025-04-23_15-43-53
evaluation
cache
cache_bak
.vscode
__pycache__
